html {
    height: 100%;
}
body {
    font-family: Tahoma,Arial,Verdana,sans-serif;
    color: #3b3b3b;
    padding: 0;
    margin: 0;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: #7c7c7c;
}
a:hover {
    color: #3b6a87;
}

#main_table {
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    background: url(/css/main-bg.jpg) bottom right no-repeat;
}
#center_cell {
    width: 800px;
    overflow: hidden;
    vertical-align: middle;
}
.header, .footer {
    font-weight: bold;
    width: 800px;
    margin: auto;
    display: table;
    line-height: 30px;
}
.project-title {
    float: left;
    font-size: 16px;
}
.epam {
    font-style: italic;
    color: #12679b;
}
.copyright {
    float: right;
}

.photo-mask {
    width: 800px;
    height: 600px;  
    //background-image: url(/css/preloader_transparent.gif);
    background-position: center;    
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    border: 2px solid #d2dbda;
}
.photo-view { 
    width: 800px;
    height: 600px;     
    background-repeat: no-repeat;
    background-size: 100%;
}
.photo-bar {
    color: #ffffff;
    text-align: right;
    display: none;
    background: #5d9eba;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 10px;
}
.photo-bar a {
    color: #ffffff;
    text-decoration: underline;
}
.photo-bar a:hover {
    color: #ffffff;
    text-decoration: none;
}
.photo-mask:hover .photo-bar {
    display: block;
}
#photo-loader {
    display: none;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
}

.config-item {
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 10px;
}
.config-item.active {
    background: #ededed !important;
}
.config-item.temperature {
    width: 112px;
}
.config-item.humidity {
    width: 90px;
}
.config-item.settings {
    float: right;
    margin: 0 0 0 10px;
}
.config-item-value {
    color: #12679b;
}
.config-item-switch-label {
    display: inline-block;
    position: relative;
    top: -2px;
}

.onoffswitch {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 2px;
}
.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #14b02a; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 4px;
    background: #FFFFFF;
    border: 1px solid #999999; border-radius: 2px;
    position: absolute; top: 0; bottom: 0; right: 32px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#settings {
    display: none;
    width: 800px;
    background: #ededed;
    border-left: 2px solid #ededed;
    border-right: 2px solid #ededed;
    margin: auto;
    position: relative;
    margin-bottom: 2px;
}
#settings.active {
    display: block;
}
#settings table {
    text-align: left;
    margin: auto;
}
#settings table td {
    vertical-align: middle;
    padding: 3px;
}
.settings-footer {
    text-align: right;
}
.settings-label {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
}
form {
    margin: 0;
}
input {
    border: 1px solid #5d9eba;
}
.button {
    padding: 3px 8px 4px;
    background-color: #5d9eba;
    font-weight: bold;
    text-shadow: 1px 1px #5d9eba;
    color: #ffffff;
    border: 1px solid #30677e;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.fadein { position:relative; width:800px; height:600px; }
.fadein img { position:absolute; left:0; top:0; max-width:100%; max-height:100%; width: 100%; height: 100%}